@model IEnumerable<UserRoleViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="CrearUsuario">Create New User</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Imagen</th>
            <th>Estado</th>
            <th>Última Conexión</th>
            <th>Rol</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var viewModel in Model)
        {
            <tr>
                <td>@viewModel.User.Id</td>
                <td>@viewModel.User.Nombre</td>
                <td>
                    @if (viewModel.User.ImagenUsuario != null)
                    {
                        <img src="data:image/png;base64,@Convert.ToBase64String(viewModel.User.ImagenUsuario)" width="50" height="50" />
                    }
                </td>
                <td>@viewModel.User.Estado</td>
                <td>@viewModel.User.UltimaConexion.ToString("yyyy-MM-dd HH:mm")</td>
                <td>
                    @foreach (var role in viewModel.Roles)
                    {
                        @role @if (viewModel.Roles.Last() != role)
                        {
                            <text>, </text>
                        }
                    }
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@viewModel.User.Id">Edit</a> |
                    @{
                        if (@viewModel.User.Estado == true)
                        {
                            <a asp-action="Delete" asp-route-id="@viewModel.User.Id">Delete</a>
                        }
                        else
                        {
                            <a asp-action="Activar" asp-route-id="@viewModel.User.Id">Activar</a>
                        }
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
