@model Veterinaria.DAL.Mascota

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Mascota</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombreMascota)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreMascota)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Edad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Edad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Peso)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Peso)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImagenMascota)
        </dt>
        <dd class = "col-sm-10">
            <img src="@Url.Action("GetImagenMascota", "Mascotas", new { id = Model.MascotaID })" alt="Imagen Mascota" style="width: 100px; height: auto;" />
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaCreacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaCreacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaModificacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaModificacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Estado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UsuarioCreacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UsuarioCreacion.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UsuarioModificacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UsuarioModificacion.Nombre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UsuarioDueno)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UsuarioDueno.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoMascota)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoMascota.DescripcionTipo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Raza)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Raza.DescripcionRaza)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Genr)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Genr.TipoGenero)
        </dd>
    </dl>
</div>
<div class="card">
    <div class="card-header">
        <h5 class="card-title">Citas Históricas</h5>
    </div>
    <div class="card-body">
        @foreach (Cita cita in ViewData["CitasHistoricas"] as List<Cita>)
        {
            <div class="row mb-2">
                <div class="col-sm-4">
                    <strong>Fecha de la cita:</strong> @Html.DisplayFor(_ => cita.FechaHora)
                </div>
                <div class="col-sm-4">
                    <strong>Descripción:</strong> @Html.DisplayFor(_ => cita.Descripcion)
                </div>
                <div class="col-sm-4">
                    <strong>Diagnostico:</strong> @Html.DisplayFor(_ => cita.Diagnostico)
                </div>
                <div class="col-sm-4">
                    <a asp-controller="Citas" asp-action="DetailsMascota" asp-route-id="@cita.CitaID" asp-route-ownerId="@ViewData["MascotaId"]">Ver informacion de cita</a>
                </div>
            </div>
        }
    </div>
</div>

<div class="card">
    <div class="card-header">
        <h5 class="card-title">Próximas Citas</h5>
    </div>
    <div class="card-body">
        @foreach (Cita cita in ViewData["CitasProximas"] as List<Cita>)
        {
            <div class="row mb-2">
                <div class="col-sm-4">
                    <strong>Fecha de la cita:</strong> @Html.DisplayFor(_ => cita.FechaHora)
                </div>
                <div class="col-sm-4">
                    <strong>Descripción:</strong> @Html.DisplayFor(_ => cita.Descripcion)
                </div>
            </div>
        }
    </div>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model?.MascotaID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
