@model IEnumerable<Veterinaria.DAL.Mascota>

@{
    ViewData["Title"] = "Índice de Mascotas";
}

<div class="container mt-5">
    <h1 class="text-center mb-4">Lista de Mascotas</h1>
    <div class="text-center mb-3">
        <a asp-action="Create" class="btn btn-primary btn-lg">Crear Nueva Mascota</a>
    </div>

    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-md-4 mb-4">
                <div class="card h-100 shadow">
                    <img src="@Url.Action("GetImagenMascota", "Mascotas", new { id = item.MascotaID })" alt="Imagen Mascota" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">@Html.DisplayFor(modelItem => item.NombreMascota)</h5>
                        <p class="card-text">
                            <strong>Edad:</strong> @Html.DisplayFor(modelItem => item.Edad) años<br>
                            <strong>Peso:</strong> @Html.DisplayFor(modelItem => item.Peso) kg<br>
                            <strong>Estado:</strong> @Html.DisplayFor(modelItem => item.Estado)<br>
                            <strong>Creado:</strong> @item.FechaCreacion.ToString("dd/MM/yyyy")<br>
                            <strong>Modificado:</strong> @item.FechaModificacion.ToString("dd/MM/yyyy")<br>
                            <strong>Dueño:</strong> @Html.DisplayFor(modelItem => item.UsuarioDueno.Nombre)<br>
                            <strong>Tipo:</strong> @Html.DisplayFor(modelItem => item.TipoMascota.DescripcionTipo)<br>
                        </p>
                    </div>

                    <div class="card-footer text-center">
                        <a asp-action="Edit" asp-route-id="@item.MascotaID" class="btn btn-secondary">Editar</a>
                        <a asp-action="Details" asp-route-id="@item.MascotaID" class="btn btn-info">Detalles</a>
                        <a asp-action="Delete" asp-route-id="@item.MascotaID" class="btn btn-danger">Eliminar</a>
                        <a asp-controller="DesparasitacionVacunas" asp-action="Index" asp-route-IdMascota="@item.MascotaID" class="btn ">Informacion de vacunas</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
