@model Veterinaria.DAL.Cita

@{
    ViewData["Title"] = "Eliminar Cita";
}

<div class="container mt-5">
    <h1 class="text-danger text-center">Eliminar Cita</h1>
    <p class="lead text-center">¿Estás seguro que deseas eliminar esta cita?</p>

    <div class="card mt-3 mb-5 shadow-sm">
        <div class="card-body">
            <h4 class="card-title">Detalles de la Cita</h4>
            <hr />
            <dl class="row">
                <dt class="col-sm-4">Fecha y Hora:</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.FechaHora)</dd>

                <dt class="col-sm-4">Descripción:</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.Descripcion)</dd>

                <dt class="col-sm-4">Diagnóstico:</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.Diagnostico)</dd>

                <dt class="col-sm-4">Mascota:</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.Mascota.NombreMascota)</dd>

                <dt class="col-sm-4">Veterinario Principal:</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.VeterinarioPrincipal.Nombre)</dd>

                <dt class="col-sm-4">Veterinario Secundario:</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.VeterinarioSecundario.Nombre)</dd>

                <dt class="col-sm-4">Estado de la Cita:</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.EstadoCita.EstadoCitaNombre)</dd>
            </dl>

            <form asp-action="Delete" class="form-inline">
                <input type="hidden" asp-for="CitaID" />
                <button type="submit" class="btn btn-danger mr-2">Eliminar</button>
                <a class="btn btn-outline-secondary" asp-action="Index">Volver a la lista</a>
            </form>
        </div>
    </div>
</div>
