@model Veterinaria.DAL.Cita

@{
    ViewData["Title"] = "Detalles de la Cita";
}

<div class="container mt-5">
    <h1 class="text-center">Detalles de la Cita</h1>
    <hr />

    <div class="card mb-4 shadow-sm">
        <div class="card-body">
            <h4 class="card-title mb-3">Información General</h4>
            <dl class="row">
                <dt class="col-sm-3">Fecha y Hora:</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.FechaHora)</dd>

                <dt class="col-sm-3">Descripción:</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.Descripcion)</dd>

                <dt class="col-sm-3">Diagnóstico:</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.Diagnostico)</dd>

                <dt class="col-sm-3">Mascota:</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.Mascota.NombreMascota)</dd>

                <dt class="col-sm-3">Veterinario Principal:</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.VeterinarioPrincipal.Nombre)</dd>

                <dt class="col-sm-3">Veterinario Secundario:</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.VeterinarioSecundario.Nombre)</dd>

                <dt class="col-sm-3">Estado de la Cita:</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.EstadoCita.EstadoCitaNombre)</dd>
            </dl>
        </div>
    </div>

    <div class="card mb-4 shadow-sm">
        <div class="card-header bg-primary text-white">
            Información de Medicamentos
        </div>
        <div class="card-body">
            @foreach (var item in Model.MedicamentosCita)
            {
                <div class="row">
                    <div class="col-md-6">
                        <strong>Medicamento:</strong> @Html.DisplayFor(modelItem => item.Medicamento.NombreMedicamento)
                    </div>
                    <div class="col-md-6">
                        <strong>Dosis:</strong> @Html.DisplayFor(modelItem => item.Dosis)
                    </div>
                </div>
            }
        </div>
    </div>

    <div class="text-center mt-4">
        <a asp-controller="Mascotas" asp-action="Details" asp-route-id="@ViewData["MascotaId"]" class="btn btn-primary">Volver a Lista</a>
    </div>
</div>
