@model IEnumerable<Veterinaria.DAL.Cita>

@{
    ViewData["Title"] = "Index";
    var identidad = User.Identity as ClaimsIdentity;
    string tipoUsuario = identidad.Claims.FirstOrDefault(c => c.Type == ClaimTypes.Role)?.Value;
}

<div class="container mt-5">
    <h1 class="mb-4 text-center text-primary">Panel de Citas</h1>

    @if (tipoUsuario == "Veterinario")
    {
        <div class="text-right mb-3">
            <a asp-action="Create" class="btn btn-success btn-lg">Crear Nueva Cita</a>
        </div>
    }

    <div class="row">
        <div class="col-md-6 mb-4">
            <h2 class="text-secondary text-center mb-3">Historial de Citas</h2>
            @foreach (Cita cita in ViewData["Historial"] as List<Cita>)
            {
                <div class="card shadow mb-4 rounded">
                    <div class="card-header bg-dark text-white">
                        Fecha de la Cita: @cita.FechaHora.ToString("g")
                    </div>
                    <div class="card-body bg-light">
                        <p class="font-weight-bold text-muted">Estado:</p>
                        <p class="text-success">@cita.EstadoCita.EstadoCitaNombre</p>
                        <p class="font-weight-bold text-muted">Veterinarios:</p>
                        <p>@cita.VeterinarioPrincipal.Nombre & @cita.VeterinarioSecundario.Nombre</p>
                        <p class="font-weight-bold text-muted">Descripción:</p>
                        <p>@cita.Descripcion</p>
                        <div class="text-center">
                            <a asp-action="Details" asp-route-id="@cita.CitaID" class="btn btn-info">Ver Detalles</a>
                            <a asp-action="Edit" asp-route-id="@cita.CitaID" class="btn btn-primary">Editar</a>
                            <a asp-action="Delete" asp-route-id="@cita.CitaID" class="btn btn-danger">Eliminar</a>
                        </div>
                    </div>
                </div>
            }
        </div>

        <div class="col-md-6 mb-4">
            <h2 class="text-secondary text-center mb-3">Próximas Citas</h2>
            @foreach (Cita cita in ViewData["Proximas"] as List<Cita>)
            {
                <div class="card shadow mb-4 rounded">
                    <div class="card-header bg-light text-dark">
                        Fecha de la Cita: @cita.FechaHora.ToString("g")
                    </div>
                    <div class="card-body bg-white">
                        <p class="font-weight-bold text-muted">Estado:</p>
                        <p class="text-success">@cita.EstadoCita.EstadoCitaNombre</p>
                        <p class="font-weight-bold text-muted">Veterinarios:</p>
                        <p>@cita.VeterinarioPrincipal.Nombre & @cita.VeterinarioSecundario.Nombre</p>
                        <p class="font-weight-bold text-muted">Descripción:</p>
                        <p>@cita.Descripcion</p>
                        <div class="text-center">
                            <a asp-action="Edit" asp-route-id="@cita.CitaID" class="btn btn-primary">Editar</a>
                            <a asp-action="Delete" asp-route-id="@cita.CitaID" class="btn btn-danger">Eliminar</a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
