@model IEnumerable<Veterinaria.DAL.Cita>

@{
    ViewData["Title"] = "Index";
    var identidad = User.Identity as ClaimsIdentity;
    string tipoUsuario = identidad.Claims.FirstOrDefault(c => c.Type == ClaimTypes.Role).Value;
}

<h1>Index</h1>

<p>
    @{
        if (tipoUsuario == "Veterinario")
        {
            <a asp-action="Create">Create New</a>
        }
    }
</p>
<h2>Historial de Citas</h2>
<table class="table">
    <thead>
        <tr>
            <th>Fecha</th>
            <th>Descripción</th>
            <th>Veterinario Principal</th>
            <th>Veterinario Secundario</th>
            <th>Detalles</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Cita cita in ViewData["Historial"] as List<Cita> )
        {
            <tr>
                <td>@cita.FechaHora.ToString("g")</td>
                <td>@cita.Descripcion</td>
                <td>@cita.VeterinarioPrincipal.Nombre</td>
                <td>@cita.VeterinarioSecundario.Nombre</td>
                <td><a asp-action="Details" asp-route-id="@cita.CitaID">Ver Detalle</a></td>
                <td>
                    <!-- Enlaces o botones para editar, según corresponda -->
                </td>
            </tr>
        }
    </tbody>
</table>

<h2>Próximas Citas</h2>
<table class="table">
    <thead>
        <tr>
            <th>Fecha</th>
            <th>Descripción</th>
            <th>Veterinario Principal</th>
            <th>Veterinario Secundario</th>
            <th>Detalles</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Cita cita in ViewData["Proximas"] as List<Cita>)
        {
            <tr>
                <td>@cita.FechaHora.ToString("g")</td>
                <td>@cita.Descripcion</td>
                <td>@cita.VeterinarioPrincipal.Nombre</td>
                <td>@cita.VeterinarioSecundario.Nombre</td>
                <td><a asp-action="Details" asp-route-id="@cita.CitaID">Ver Detalle</a></td>
                <td>
                    <a asp-action="Edit" asp-route-id="@cita.CitaID">Editar</a> |
                    <a asp-action="Delete" asp-route-id="@cita.CitaID">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
